@model MACU_WEB.Areas.MERP_TCF000.ViewModels.MERP_TCF001_Details01ViewModel

@using MACU_WEB.Models;


@{
    string strPROG_ID = "MERP_TCF004";
    string strMENU_ID = "MERP_TCF000";
    ViewBag.Title = "Details";
    //ViewBag.Title = strPROG_ID.ToAutoMultiLang() + " - " + "PageQ".ToAutoMultiLang();
    Layout = "~/Views/Shared/_layout.cshtml";
}

<!-- INLINE FORM ELELEMNTS -->
<div class="row mt">
    <div class="col-lg-12">
        <div class="form-panel">
            <h4 class="mb">
                <i class="fa fa-angle-right"></i> @strPROG_ID
                <i class="fa fa-angle-right"></i> @ViewBag.Title
            </h4>

            <div class="form-group box-fullwidth">
                <div class="col-lg-12">

                    <table class="table table-responsive rwd-table">
                        <tbody>
                            <tr>
                                <td colspan="4">
                                    <label class="control-label" for="Create">返回到上傳檔案列表頁面</label>
                                    <div>
                                        @Html.ActionLink("上傳檔案列表", "Index", strPROG_ID, new { area = strMENU_ID }, new { @class = "btn btn-primary" })

                                    </div>
                                </td>


                            </tr>


                        </tbody>
                    </table>

                </div>
            </div>


        </div><!-- /form-panel -->
    </div><!-- /col-lg-12 -->
</div><!-- /row -->

<!-- BASIC FORM ELELEMNTS -->
<div class="row mt">
    <!-- col-lg-12全佔12行; main-chart 上邊空20px -->
    <div class="col-lg-12">
        <div class="form-panel">
            
            @using (Html.BeginForm("Details", strPROG_ID, FormMethod.Get, new { @class = "form-horizontal style-form" }))
            {
                <!-- form class="form-horizontal style-form" method="get" -->
            <div class="table-responsive  form-group">     
                
                <h2 class="col-sm-12 control-label">@Model.m_sMonth 月 @Model.m_sYear 年 勞健保</h2>  
                
                <div class="col-sm-12">
                    <table class="table table-hover rwd-table" id="M_TCC_TAB_1">
                        <thead>
                            <tr>
                                <!-- Total 39行 Cols + IsValid,createTime,updateTime -->
                                <th class="col-sm-1 "> 編號</th>
                                <th class="col-sm-1 "> 部門</th>
                                <th class="col-sm-1 "> 加保公司</th>
                                <th class="col-sm-1 "> 姓名</th>
                                <th class="col-sm-1 "> 勞保</th>
                                <th class="col-sm-1 "> 健保</th>
                                <th class="col-sm-1 "> 眷屬</th>
                                <th class="col-sm-1 "> 到職日</th>
                                <th class="col-sm-1 "> 離職日</th>
                                <th class="col-sm-1 "> 資料年份</th>
                                <th class="col-sm-1 "> 資料月份</th>
                                <th class="col-sm-1 "> 備註</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 0;}
                            @if ((Model != null) && (Model.m_oFALaborHealthInsV1List != null) &&
                                (Model.m_oFALaborHealthInsV1List.Count() > 0))
                            {
                                foreach (var item in Model.m_oFALaborHealthInsV1List)
                                {
                                    <tr>
                                        <td>
                                            @item.Id
                                        </td>
                                        <td>
                                            @item.DepartName
                                        </td>
                                        <td>
                                            @item.PlusInsCompany
                                        </td>
                                        <td>
                                            @item.MemberName
                                        </td>
                                        <td>
                                            @item.LaborIns
                                        </td>
                                        <td>
                                            @item.HealthIns
                                        </td>
                                        <td>
                                            @item.Dependents
                                        </td>
                                        <td>
                                            @item.OnJobDate
                                        </td>
                                        <td>
                                            @item.ResignDate
                                        </td>
                                        <td>
                                            @item.DataYear
                                        </td>
                                        <td>
                                            @item.DataMonth
                                        </td>
                                        <td>
                                            @item.LHInsType
                                        </td>

                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>

                <!-- /form -->
            }
        </div>

    </div><!-- /col-lg-12 -->

</div><!-- /row -->



@section JSPartCode {
    <script type="text/javascript">
    //custom select box

    $(function () {
        $('select.styled').customSelect();
    });

    $(document).ready(function () {
        //使用分頁的標題凍結方式

        //$('button[name="fun_button"]').on('click',
        //    function (e) {
        //        JsFunLOADING_SHOW(true);
                @*
                JsFunErrorMsg('@("SearchData".ToAutoMultiLang())', '@(string.Format("ValRequired".ToAutoMultiLang(), "Userid".ToAutoMultiLang()))', userId);
                *@

        //    return true;
        //    });
    });

    </script>

}



