@model  IEnumerable<MACU_WEB.Models.FA_HealthInsSet>

@using MACU_WEB.Models;


@{
    string strPROG_ID = "MERP_TCF003";
    string strMENU_ID = "MERP_TCF000";
    ViewBag.Title = "Index";
    //ViewBag.Title = strPROG_ID.ToAutoMultiLang() + " - " + "PageQ".ToAutoMultiLang();
    Layout = "~/Views/Shared/_layout.cshtml";
}

<!-- INLINE FORM ELELEMNTS -->
<div class="row mt">
    <div class="col-lg-12">
        <div class="form-panel">
            <h4 class="mb">
                <i class="fa fa-angle-right"></i> @strPROG_ID
                <i class="fa fa-angle-right"></i> @ViewBag.Title
            </h4>
            
            <div style="margin-top: 15px;"></div>

            <div class="form-group box-fullwidth">
                <div class="col-lg-12">

                    <table class="table table-responsive rwd-table">
                        <tbody>
                            <tr>
                                <td colspan="4">
                                    <label class="control-label" for="Create">開始新增</label>
                                    <div>
                                        @Html.ActionLink("新增健保設定", "Create", strPROG_ID, new { area = strMENU_ID }, new { @class = "btn btn-primary" })

                                    </div>
                                </td>


                            </tr>


                        </tbody>
                    </table>

                </div>
            </div>


        </div><!-- /form-panel -->
    </div><!-- /col-lg-12 -->
</div><!-- /row -->

<!-- BASIC FORM ELELEMNTS -->
<div class="row mt">
    <!-- col-lg-12全佔12行; main-chart 上邊空20px -->
    <div class="col-lg-12">
        <div class="form-panel">

            <div style="margin-top: 15px;"></div>

            <!--主檔-->
            <h2> @strPROG_ID </h2>
            <div class="table-responsive  form-group">
                <!-- 一定要加boxscroll Div才會出現卷軸 -->
                <div class="boxscroll">
                    <table class="table table-bordered table-hover rwd-table" id="M_SEQ_NO_1">
                        <thead>
                            <tr>
                                <th class="col-sm-1 "> 健保設定編號</th>
                                <th class="col-sm-1 "> 健保費率</th>
                                <th class="col-sm-1 "> 個人負擔比例</th>
                                <th class="col-sm-1 "> 公司負擔比例</th>
                                <th class="col-sm-1 "> 政府負擔比例</th>
                                <th class="col-sm-1 "> 平均眷口數費率</th>
                                <th class="col-sm-1 "> 實施日期</th>
                                <th class="col-sm-1 "> 保險設定操作 1</th>
                                <th class="col-sm-1 "> 保險設定操作 2</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 0;}

                            @* foreach (var item in ViewData["Category"] as IEnumerable<FileContent>) *@
                            @if ((Model != null) && (Model.Count() > 0))
                            {
                                foreach (var item in Model)
                                {
                                    i++;

                                    <tr>

                                        <td>

                                            @item.Id
                                        </td>

                                        <td>

                                            @item.Heal_Rate
                                        </td>

                                        <td>

                                            @item.Heal_LaborInsBurdenRatio
                                        </td>


                                        <td>

                                            @item.Heal_ComInsBurdenRatio
                                        </td>

                                        <td>

                                            @item.Heal_GovInsBurdenRatio
                                        </td>


                                        <td>

                                            @item.Heal_AverhouseholdsNum
                                        </td>

                                        <td>

                                            @item.Heal_RateBeginDate
                                        </td>


                                        <td>

                                            @Html.ActionLink("編輯健康保險設定", "Edit", strPROG_ID, new { id = item.Id, area = strMENU_ID }, new { @class = "btn btn-primary" })
                                        </td>

                                        <td>
                                            @Html.ActionLink("刪除健康保險設定", "Delete", strPROG_ID, new { id = item.Id, area = strMENU_ID }, new { @class = "btn btn-danger" })
                                        </td>

                                    </tr>
                                }

                            }



                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div><!-- /row -->



@section JSPartCode {



}





