@model  IEnumerable<MACU_WEB.Models.StoreInfo>

@using MACU_WEB.Models;


@{
    string strPROG_ID = "MERP_UAJ001";
    string strMENU_ID = "MERP_UAJ000";
    ViewBag.Title = "Index";
    //ViewBag.Title = strPROG_ID.ToAutoMultiLang() + " - " + "PageQ".ToAutoMultiLang();
    Layout = "~/Views/Shared/_layout.cshtml";

}

<!-- BASIC FORM ELELEMNTS -->
<div class="row mt">
    <!-- col-lg-12全佔12行; main-chart 上邊空20px -->
    <div class="col-lg-12">
        <div class="form-panel">
            <h4 class="mb">
                <i class="fa fa-angle-right"></i> @strPROG_ID
                <i class="fa fa-angle-right"></i> @ViewBag.Title
            </h4>

            @using (Html.BeginForm("Index", strPROG_ID, new { area = strMENU_ID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div class="form-group">
                    <div class="col-lg-12">
                        <table class="table table-hover rwd-table" id="M_TDQ_BAR_1">
                            <tbody>

                                <tr>

                                    <td>

                                        <label for="update_submit">從APOS匯入更新至本地DB</label>
                                        <input type="submit" class="form-control btn btn-primary" id="update_submit" placeholder="Update To LocalDB" onclick="JsFunLOADING_SHOW(true);">

                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <label class="control-label" for="Create">新增部門</label>
                                        <div>
                                            @Html.ActionLink("新增部門", "Create", strPROG_ID, new { area = strMENU_ID }, new { @class = "btn btn-primary" })

                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div style="margin-top: 15px;"></div>


                //table-responsive:響應式表格
                <!--主檔-->
                <h2> @strPROG_ID </h2>
                <div class="table-responsive  form-group">
                    <!-- 一定要加boxscroll Div才會出現卷軸 -->
                    <div class="boxscroll">
                        <table class="table table-bordered table-hover rwd-table" id="M_SEQ_NO_1">
                            <thead>
                                <tr>
                                    <th class="col-sm-1 "> 部門編號</th>
                                    <th class="col-sm-1 "> 部門名稱</th>
                                    <th class="col-sm-1 "> 部門類別</th>
                                    <th class="col-sm-1 "> 部門註解</th>
                                    <th class="col-sm-1 "> 群組ID</th>
                                    <th class="col-sm-1 "> 分區ID</th>
                                    <th class="col-sm-1 "> 訂單分區ID</th>
                                    <th class="col-sm-1 "> ConveyKindID</th>
                                    <th class="col-sm-1 "> 開店日期</th>
                                    <th class="col-sm-1 "> 部門電話</th>
                                    <th class="col-sm-1 "> 部門傳真</th>
                                    <th class="col-sm-1 "> 部門手機</th>
                                    <th class="col-sm-1 "> 部門聯絡人</th>
                                    <th class="col-sm-1 "> 部門位址</th>
                                    <th class="col-sm-1 "> 部門MobiID</th>
                                    <th class="col-sm-1 "> 部門督導</th>
                                    <th class="col-sm-1 "> 建立日期</th>
                                    <th class="col-sm-1 "> 更新日期</th>
                                    <th class="col-sm-1 "> 操作1</th>
                                    <th class="col-sm-1 "> 操作2</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 0;}

                                @* foreach (var item in ViewData["Category"] as IEnumerable<FileContent>) *@
                                @{
                                    if ((Model != null) && (Model.Count() > 0))
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>

                                                <td>

                                                    @item.SID
                                                </td>

                                                <td>

                                                    @item.Name
                                                </td>

                                                <td>

                                                    @item.Kind
                                                </td>

                                                <td>

                                                    @item.Memo
                                                </td>


                                                <td>

                                                    @item.Group_ID
                                                </td>

                                                <td>

                                                    @item.BranchArea_ID
                                                </td>

                                                <td>

                                                    @item.OrderArea_ID
                                                </td>

                                                <td>

                                                    @item.ConveyKind_ID
                                                </td>

                                                <td>

                                                    @item.BeginDate
                                                </td>

                                                <td>

                                                    @item.TelPhone
                                                </td>

                                                <td>

                                                    @item.FaxPhone
                                                </td>

                                                <td>

                                                    @item.CellPhone
                                                </td>

                                                <td>

                                                    @item.Contact
                                                </td>

                                                <td>

                                                    @item.Address
                                                </td>

                                                <td>

                                                    @item.MobileStoreID
                                                </td>

                                                <td>

                                                    @item.ManageKind
                                                </td>



                                                <td>
                                                    @*Html.Label(item.CreateTime.ToString(), "", new { @type = "date" }) *@
                                                    @{
                                                        //string sDateTime = Convert.ToDateTime(item.CreateTime).ToString("yyyy-MM-dd");
                                                    }
                                                    @item.CreateDate
                                                </td>

                                                <td>

                                                    @item.UpdateDate
                                                </td>


                                                <td>


                                                    @*<button name="Query" class="btn btn-primary" type="button" onclick="JsFunLOADING_SHOW(true);">Loading</button>*@

                                                    @Html.ActionLink("修改部門", "Edit", strPROG_ID, new { id = item.Id, area = strMENU_ID }, new { @class = "btn btn-success", @onclick = "JsFunLOADING_SHOW(true);" })
                                                </td>

                                                <td>
                                                    @Html.ActionLink("刪除部門", "Delete", strPROG_ID, new { id = item.Id, area = strMENU_ID }, new { @class = "btn btn-danger", @onclick = "JsFunLOADING_SHOW(true);" })
                                                </td>

                                            </tr>

                                        }

                                    }
                                }


                            </tbody>
                        </table>
                    </div>

                </div>
            }

        </div>
    </div>
</div><!-- /row -->
<!--Big blue-->


@section JSPartCode {

    <script type="text/javascript">
        //alert("AAAA");
        $(document).ready(function () {
            //使用分頁的標題凍結方式

        });


    </script>

}




